body {
    background: white;
    margin-top: 75px;
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #1a394e;
    color: whitesmoke;
}

ul#header {
    text-align: right;
    position: relative
}

  ul#header li {
      display: inline;
      margin-right: 5px;
      font-family: sans-serif;
      font-size: medium;
      font-weight: bold;
      color: whitesmoke;
      padding: 10px;
  }

  ui#header li :hover {
      text-decoration: underline solid white
  }

  img#header_image {
      height: auto;
      width: 100px;
      padding-bottom: 0%;
      padding-top: 0%;
  }

  a {
      text-decoration: none;
      color: whitesmoke;
  }

  a:visited {
      color: whitesmoke;
  }

  a:hover {
      text-decoration: underline solid whitesmoke;
  }

  .slider-holder {
      margin-top: 10px;
      float: left;
      height: 380px;
      width: 100%;
  }

.hero-section {
    width: 100%;
    text-align: center;
}

h1 {
    color: grey;
}

p {
    color: grey;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

div.hero-section img {
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

