/*Defining default styles for the document*/

:root {
  --main-primary-color: #1a394e;
}

body {
  background: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: var(--main-primary-color);
  margin-top: -2%;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: var(--main-primary-color);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  text-decoration: underline solid whitesmoke;
}

/* Style the header */

.header {
  padding: 10px 16px;
  background: var(--main-primary-color);
  color: whitesmoke;
  position: fixed;
  width: 96.35%;
}

ul#header {
  text-align: right;
  position: relative
}

ul#header li {
  display: inline;
  margin-right: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  font-weight: bold;
  color: whitesmoke;
  padding: 10px;
}

ui#header li :hover {
  text-decoration: underline solid white
}

img#header_image {
  height: auto;
  width: 150px;
  padding-bottom: 0%;
  padding-top: 0%;
  margin: 0%;
}

/*Defining the style for the video unit.*/

.video-player {
  width: 100%;
  height: 250px;
  margin-top: 7%;
}

/*Styling the hero unit.*/

.hero-section {
  width: 100%;
  text-align: center;
  background: #f9f9f9;
  margin-bottom: 15%;
}

div.hero-section img {
  height: 600px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.hero-section-description-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.hero-section-description {
  float: left;
  width: 33%;
  border-right: 1px solid black;
  color: var(--main-primary-color);
}

.info-section {
  height: 300px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}

/*Styling the information section*/

.info-header-left {
  float: left;
  width: 33%;
  vertical-align: auto;
  color: var(--main-primary-color);
}

.info-description-right {
  float: right;
  width: 66%;
  vertical-align: auto;
}

.info-header-right {
  float: right;
  width: 33%;
  vertical-align: auto;
  color: var(--main-primary-color);
}

.info-description-left {
  float: left;
  width: 66%;
  vertical-align: auto;
}

/*Defining the styles for the images section.*/

.image_section {
  text-align: center;
  color: black;
  background: #f9f9f9;
  padding: 20px;
}

.image {
  width: 33%;
  float: left;
}

/*Styling for the buttons.*/

.ui-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 50px;
  width: 250px;
  background: var(--main-primary-color);
  color: #f9f9f9;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.ui-button:hover {
  background: #f9f9f9;
  color: var(--main-primary-color);
}

/*Styling for the features page.*/

.logo {
  height: auto;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.logo_img {
  height: auto;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%
}

/*Styling for the heading on features page*/

.features_header {
  margin-left: auto;
  margin-right: auto;
  color: var(--main-primary-color);
  text-align: center;
  margin-top: 1%
}

/*Styling for the info image*/

.info-image-div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info-image {
  margin-top: 5%;
  height: auto;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/*Defining the styling for the footer.*/

.footer {
  width: 100%;
  height: 50px;
  background: var(--main-primary-color);
  color: #f9f9f9;
  text-align: center;
  margin-top: 10%;
}

.footer-list {
  text-decoration: none;
  float: left;
  width: 100%;
}

ul#footer-list-item li {
  display: inline;
  margin-right: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  color: whitesmoke;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}